<div class="container-fluid text-end banner p-2">
    <div class="row">

      <div class="col-auto">
        <img src="../assets/fcb.png" alt="Logotipo de la empresa" width="50" height="50">
      </div>

      <div class="col">
      </div>

      <div class="col text-end">
        <div class="dropdown">
          <button class="fcb btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">{{"Idiomas"|translate}}</button>
          <ul class="dropdown-menu fcb" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item text-center" (click)="switchSpain('es')">Castellano</a></li>
            <li><a class="dropdown-item text-center" (click)="switchSpain('cat')">Català</a></li>
            <li><a class="dropdown-item text-center" (click)="switchEnglish('en')">English</a></li>
          </ul>
        </div>
      </div>

    </div>

</div>