<div class="fw-bold">{{"TituloPagina"|translate}}</div>
<br>

<div class="buttid d-flex mb-1">
    <a class="rounded btn btn-secondary btn-bs" href="#Porteros">{{"Porteros"|translate}}</a>&nbsp;&nbsp;
    <a class="rounded btn btn-secondary btn-bs" href="#Defensas">{{"Defensas"|translate}}</a>&nbsp;&nbsp;
    <a class="rounded btn btn-secondary btn-bs" href="#Centrocampistas">{{"Centrocampistas"|translate}}</a>&nbsp;&nbsp;
    <a class="rounded btn btn-secondary btn-bs" href="#Delanteros">{{"Delanteros"|translate}}</a>&nbsp;&nbsp;
    <a class="rounded btn btn-secondary btn-bs" href="#Entrenador">{{"Entrenador"|translate}}</a>&nbsp;&nbsp;
</div>

<div class="col" id="Porteros">
    <div class="disp text-center">
        <h1 class="text-center mt-5 mb-5 fw-bold">{{"Porteros"|translate}}</h1>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-3 w-100">
        <div class="col " *ngFor="let goal of goalkeepers">
        <app-card-players [item]="goal"></app-card-players>
    </div>
</div>

<div class="col" id="Defensas">
    <div class="disp text-center">
        <h1 class="titledesc text-center mt-5 mb-5 fw-bold">{{"Defensas"|translate}}</h1>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-3 w-100">
        <div class="col" *ngFor="let def of defendors">
        <app-card-players [item]="def"></app-card-players>
    </div>
</div>

<div class="col" id="Centrocampistas">
    <div class="disp text-center">
        <h1 class="titledesc text-center mt-5 mb-5 fw-bold">{{"Centrocampistas"|translate}}</h1>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-3 w-100">
        <div class="col" *ngFor="let mid of midfielders">
        <app-card-players [item]="mid"></app-card-players>
    </div>
</div>

<div class="col" id="Delanteros">
    <div class="disp text-center">
        <h1 class="titledesc text-center mt-5 mb-5 fw-bold">{{"Delanteros"|translate}}</h1>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-3 w-100">
        <div class="col" *ngFor="let forw of forwarders">
        <app-card-players [item]="forw"></app-card-players>
    </div>
</div>

<div class="col" id="Entrenador">
    <div class="disp text-center">
        <h1 class="titledesc text-center mt-5 mb-5 fw-bold">{{"Entrenador"|translate}}</h1>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-3 w-100">
        <div class="col" *ngFor="let tec of tec_team">
        <app-card-players [item]="tec"></app-card-players>
    </div>
</div>



