<div class="card">
    <div class="text-description rounded">
        <div class="d-flex justify-content-center">
            <h2 class="fw-bold">{{item.Number}} </h2><h2 style="margin-right: 10px; margin-left: 10px; font-style: italic;">{{item.Name}} </h2><h2 class="fw-bold">{{item.LastName}}</h2>
        </div>
        <h5 class="d-flex justify-content-center">{{item.Position}}</h5></div>
        <h5 class="bigName d-flex justify-content-center">{{item.BgName}}</h5>
        <div class="status row text-center d-flex fw-bold text-white shadow-text">
            <div class="desc col text-white shadow-text"><span>Partidos</span><h3 class="fw-bold">25</h3><span>2022/2023</span><h3 class="fw-bold">25</h3></div>
            <div class="desc col text-white shadow-text"><span>Goles</span><h3 class="fw-bold">25</h3><span>2022/2023</span><h3 class="fw-bold">25</h3></div>
            <div class="desc col text-white shadow-text"><span>Asistencias</span><h3 class="fw-bold">25</h3><span>2022/2023</span><h3 class="fw-bold">25</h3></div>
            </div>
    <img src="{{item.url}}" style="width: 100%; height: auto;">

</div>

