<div class="card">
    <div class="text-description rounded">
        <div class="d-flex justify-content-center">
            <h2 class="fw-bold">{{item.Number}} </h2><h2 style="margin-right: 10px; margin-left: 10px; font-style: italic;">{{item.Name}} </h2><h2 class="fw-bold">{{item.LastName}}</h2>
        </div>
        <h5 class="d-flex justify-content-center">{{getKey(item.Position) | translate}}</h5></div>
        <h5 class="bigName d-flex justify-content-center">{{item.BgName}}</h5>
        <div class="status text-center d-flex fw-bold text-white shadow-text">
            
            <div class="desc col text-white shadow-text" *ngIf="item.Position !== 'Entrenador'">
                <span>{{getKey(item.title1) | translate}}</span><h3 class="fw-bold">{{item.matches}}</h3><span>{{item.season}}</span><h3 class="fw-bold text-warning">{{item.title1_2023}}</h3></div>

            <div class="desc col text-white shadow-text" *ngIf="item.Position !== 'Entrenador'">
                <span>{{getKey(item.title2) | translate}}</span><h3 class="fw-bold">{{item.goals}}</h3><span>{{item.season}}</span><h3 class="fw-bold text-warning">{{item.title2_2023}}</h3></div>

            <div class="desc col text-white shadow-text" *ngIf="item.Position !== 'Entrenador'">
                <span>{{getKey(item.title3) | translate}}</span><h3 class="fw-bold">{{item.assists}}</h3><span>{{item.season}}</span><h3 class="fw-bold text-warning">{{item.title3_2023}}</h3></div>
            </div>
            
    <img src="{{item.url}}" style="width: 100%; height: auto;">
</div>