

.text-description{
  background-image: linear-gradient(0deg, rgb(6 6 6) 0%, rgba(0, 0, 0, 0,) 90%);
  justify-content: baseline;
  bottom: 0vh; 
  left: 0vw;
  width: 100%;
  padding: 30px;
  position: absolute;
  font-size: 1rem;
  color: white;
  overflow: hidden;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}



.bigName{
    position: absolute;
    justify-content: start;
    bottom: 5vh;
    left: 0vw;
    right: 0vw;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 15vh;
    -webkit-background-clip: text;
    background-clip: padding-box;
    -webkit-background-clip: text;
    opacity: 0.1;
    overflow: hidden;
}

.status {
  position: absolute;
  justify-content: space-between;
  bottom: -4vh;
  left: 0vw;
  right: 0vw;
  text-align: center;
  opacity: 0;
  display: none;
  overflow: hidden;
  font-size: 0.5rem;
  
}



.card:hover{
   &:hover {
    .bigName{
      transition: top 0.5s ease;
      top: 130px;
      transition: opacity 0.5s ease-in-out;
      -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .text-description{
      transition: top 0.5s ease;
      top: 130px;
      transition: opacity 0.5s ease-in-out;
      //opacity: 0.0;
    }
    .status{
      -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      transition: opacity 1s ease-in-out;
      display: block;
      opacity: 1;
    }
    .shadow-text{
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 2);
    }

  }
}



 @-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
}



@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none  }
}





@media (max-width: 990px){
  h2{
    font-size: 1.5rem;
  }
}


@media (max-width: 992px){
  .desc{
    font-size: 0.3rem;
  }
  .status {
    font-size: 0.1rem;
  }
}


@media (max-width: 990px){
  h2{
    font-size: 0.3rem;
  }
  .desc{
    font-size: 0.1rem;
  }
  
}


@media (max-width: 1399px){
  h2{
    font-size: 1.3rem;
  }
  .desc{
    font-size: 0.6rem;
  }
  .status {
    font-size: 0.3rem;
  }
}


@media (max-width: 500px){

  .card:hover{
    &:hover {
     .bigName{
       transition: top 0.5s ease;
       top: 130px;
       transition: opacity 0.5s ease-in-out;
       -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
       animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     }
     .text-description{
       transition: top 0.5s ease;
       top: 130px;
       transition: opacity 0.5s ease-in-out;
       opacity: 0.0;
     }
     .status{
       -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
       animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
       transition: opacity 1s ease-in-out;
       display: block;
       opacity: 1;
     }
     .shadow-text{
       text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
       text-shadow: 2px 2px 5px rgba(0, 0, 0, 2);
     }
 
   }
 }
}

